@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* for xonsistency*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
  padding: 20px;
  background: #eee;
  color: #111;
  font-family: 'VT323', monospace;
}

main {
    max-width: 500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: auto;
}

nav {
    background: #f60;
    padding: 15px;
    width: 100%;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 0;
}
nav ul li {
    display: inline;
}
nav a {
    color: #111;
    padding: 10px 15px;
    border: 2px solid #111;
    transition: 0.3s ease-in-out;
    font-size: 22px;
}

nav a:hover {
    background: #eee;
    color: #111;
}

/* Buttons */
/* Button */
button {
    padding: 10px 15px;
    background: #f6a;
    color: black;
    border: 2px solid black;
    font-size: 1.2em;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: darkorange;
}

/* Layout Elements */
header {}

section {}
article {}
aside {}
footer {}

/* Text Elements */
h1, h2, h3, h4, h5, h6 {}
p {}
blockquote {}
cite {}
address {}

/* Media and Figures */
figure {}
figcaption {}

/* Code & Preformatted Text */
code {}
pre {}

/* Emphasis & Highlights */
em {}
strong {}
mark {}

time {}

/* Table Elements */
table {}
thead {}
tbody {}
tfoot {}
th {}
tr {}
td {}

/* List Elements */
ul {}
ol {}
li {}

/* Description List */
dl {}
dt {}
dd {}
