<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}acoult.art{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8344009507277508"
     crossorigin="anonymous"></script>
</head>
<body>
    <main>
        <header>
            <h1>acoult.art</h1>
            <p>Status: Always Tinkering...</p>
        </header>
    
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">{% if request.endpoint == 'home' %}> {% endif %}Home</a></li>
                <li><a href="{{ url_for('references')}}">{% if request.endpoint == 'references' %}> {% endif %}References</a></li>
                <li><a href="{{ url_for('randoms')}}">{% if request.endpoint == 'randoms' %}> {% endif %}Randoms</a></li>
                <li><a href="{{ url_for('gallery')}}">{% if request.endpoint == 'gallery' %}> {% endif %}Gallery</a></li>
            </ul>
        </nav>
    
        <content>
            {% block content %}{% endblock %}
        </content>
    
        <footer>
            <p>&copy; 2025 - acoult.art</p>
        </footer>
    </main>
</body>
</html>
