{% extends 'base.html' %}

{% block title %}Rants - My Retro Hub{% endblock %}

{% block content %}
<div class="grid two-column">
            <div class="card">
                <h2>Project 1</h2>
                <p>Description of the project.</p>
            </div>
            <
        </div


    <h2>Blog Posts</h2>
    <div class="grid two-column">
        {% for blog in blogs %}
            <div class="card">
                <a href="{{ url_for('blog_post', post=blog) }}">{{ blog.replace("_", " ").title() }}</a>
            </div>
        {% endfor %}
    </div>

{% endblock %}
