{% extends 'base.html' %}


{% block content %}
<section>
    <h2>Welcome</h2>
    <p>Welcome to my little space on the web. Here, you'll find notes, projects, and all the cool things I discover.</p>
    <p>I come to this website for the references that I don't want to forget about and will save me time in the future</p>
    <p>My current main projets are hosted of this website: A peice of coursework that I will soon be completeing for my Computer Science Alevel and a game of Assassin that I am playing with friends and evolving the rules to make it the most fun possible.</p>
</section>
{% endblock %}
