{% extends 'base.html' %}

{% block title %}References - My Retro Hub{% endblock %}

{% block content %}
<section>
    <h2>My other Pages</h2>
    <p>These are other tools or games I have made, mostly for personal use.</p>
    <ul>
        <li><a href="https://assassin.acoult.art">Assassin Game</a></li>
        <li><a href="https://qr.acoult.art">QR Explainer</a></li>
    </ul>
</section>
<section>
    <h2>Useful code snippets</h2>
    <p>Python Virtual Environments</p>
    <ul>
        <li><code>pip3 install venv</code></li>
        <li><code>python3 venv env</code></li>
        <li><code>source env/bin/activate</code></li>
        <li><code>deactivate</code></li>
    </ul>
    <p>Reverse Proxy with nginx</p>
    <ul>
        <li><code>sudo apt update &amp;&amp; sudo apt install nginx</code></li>
        <li><code>sudo systemctl start nginx</code></li>
        <li><code>sudo rm /etc/nginx/sites-enabled/default</code></li>
        <li><code>sudo nano /etc/nginx/conf.d/default.conf</code></li>
        <li><pre><code>server {
 listen 80 default_server;
 return 502;
}
</code></pre>
</li>
        <li><pre><code>server {
 listen 80;
 server_name sub.domain.tld;
 location / {
     proxy_pass http: http://localhost: 5000;
 }
}
</code></pre>
        </li>
        <li>sudo systemctl restart nginx</li>
    </ul>
</section>
<section>
    <h2 id="useful-websites">Useful Websites</h2>
    <dl>
        <dt>12ft.io/</dt>
        <dd>Append this before a url to remove paywalls on articles</dd>
        <dt>More Will Definatly be added</dt>
        <dd>Another description</dd>
    </dl>
</section>
{% endblock %}
