{% extends 'base.html' %}

{% block title %}References - My Retro Hub{% endblock %}

{% block content %}
<section>
    <h2>My other Pages</h2>
    <p>These are other tools or games I have made, mostly for personal use.</p>
    <ul>
        <li><a href="https://assassin.acoult.art">Assassin Game</a></li>
        <li><a href="https://qr.acoult.art">QR Explainer</a></li>
    </ul>
</section>
<section>
    <h2>Useful code snippets</h2>
    <p>Python Virtual Environments</p>
    <ul>
        <li><code>pip3 install venv</code></li>
        <li><code>python3 venv env</code></li>
        <li><code>source env/bin/activate</code></li>
        <li><code>deactivate</code></li>
    </ul>
    <p>Reverse Proxy with nginx</p>
    <ul>
        <li><code>sudo apt update &amp;&amp; sudo apt install nginx</code></li>
        <li><code>sudo systemctl start nginx</code></li>
        <li><code>sudo rm /etc/nginx/sites-enabled/default</code></li>
        <li><code>sudo nano /etc/nginx/conf.d/default.conf</code></li>
        <li><pre><code>server {
 listen 80 default_server;
 return 502;
}
</code></pre>
</li>
        <li><pre><code>server {
 listen 80;
 server_name sub.domain.tld;
 location / {
     proxy_pass http: http://localhost: 5000;
 }
}
</code></pre>
        </li>
        <li>sudo systemctl restart nginx</li>
    </ul>
</section>
<section>
    <h2>Standard Code</h2>
    <h3>Sorting</h3>
    <pre><code>def bubble_sort(array:list, descending:bool=False) -> list:
    sorted = True
    for i in range(len(array)-1):
        for j in range(len(array)-1-i):
            if (array[j] > array[j+1]) ^ descending:
                array[j], array[j+1] = array[j+1], array[j]
                sorted = False
        if sorted:
            break
    return array</code></pre>

    <pre><code>def insertion_sort(array:list, descending:bool=False) -> list:
    for i in range(1, len(array)):
        currentValue = array[i]
        position = i
        while position > 0 and ((array[position - 1] > currentValue) ^ descending):
            array[position] = array[position - 1]
            position = position - 1
        array[position] = currentValue
    return array</code></pre>

    <pre><code>def quick_sort(array:list, descending:bool=False) -> list:
    if len(array) <= 1: return array
    pivot = array.pop(round(len(array) / 2))
    before_list = [x for x in array if (x < pivot) ^ descending]
    after_list = [x for x in array if (x >= pivot) ^ descending]
    sorted_list = quick_sort(before_list, descending) + [pivot] + quick_sort(after_list, descending)
    return sorted_list</code></pre>

    <pre><code>def merge_sort(array: list, descending: bool = False) -> list:
    if len(array) <= 1: return array
    left = merge_sort(array[:len(array)//2], descending)
    right = merge_sort(array[len(array)//2:], descending)
    return merge(left, right, descending)

def merge(a, b, descending):
    result = []
    i = j = 0
    while i < len(a) and j < len(b):
        if (a[i] < b[j]) ^ descending:
            result.append(a[i])
            i += 1
        else:
            result.append(b[j])
            j += 1
    result.extend(a[i:])
    result.extend(b[j:])
    return result
</code></pre>
    <h3>Searching</h3>
<pre><code>def binary_search(item, array, not_found=None):
  """Performs a binary search on a sorted array.

    This function searches for a given item in a sorted array using the binary search algorithm.
    It works with both ascending and descending ordered arrays.

    Args:
        item: The element to search for in the array.
        array (list): A sorted list of elements (either in ascending or descending order).
        not_found (optional): The value to return if the item is not found. Defaults to None.

    Returns:
        int or any: The index of the item if found, otherwise the `not_found` value (defaulted to None).

    Raises:
        IndexError: If the array is empty.
    """
  if not array:
        raise IndexError("Array must not be empty.")
  descending = array[0] > array[-1]
  first = 0
  last = len(array)-1
  while first <= last:
    current = (first+last)//2
    if item == array[current]: return current
    if (item > array[current]) ^ descending:
      first = current+1
    else:
      last = current-1
  return not_found</code></pre>


</section>
<section>
    <h2>Useful Websites</h2>
    <dl>
        <dt>12ft.io/</dt>
        <dd>Append this before a url to remove paywalls on articles</dd>
        <dt>More Will Definatly be added</dt>
        <dd>Another description</dd>
    </dl>
</section>
{% endblock %}
